.spreadSheetContainer {
  display: flex;
  border: 1px solid red;
  width: 80vw;
  max-height: 80vh;
  min-height: 50vh;
}

.column-axis {
  background-color: rgb(102, 102, 102);
  width: 100%;
  height: 2rem;
}
