@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

/* <resetting default styling> */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
/* </resetting default styling> */

/* <variables> */
:root {
  --main-bg-clr: black;
  --axis-bg-clr: rgb(219, 219, 219);
  --dark-axis-bg-clr: rgb(168, 168, 168);
  --dark-bg-clr: black;
  --light-bg-clr: white;

  --main-font-clr: black;
  --td-font-clr: black;
  --td-header-font-clr: rgb(153, 51, 255);
  --light-font-clr: white;
  --dark-font-clr: black;

  --accent-clr: #0b7d4a;
  --light-accent-clr: #15ab68;
  --dark-accent-clr: #074c2d;
  --font-hover-clr: var(--accent-color);
  --table-grid-clr: rgb(205, 205, 205);
  --td-border-clr: var(--td-header-font-clr);
}
/* </variables> */

/* <default styles> */
* {
  font-family: "Sawarabi Gothic", sans-serif;
  color: var(--main-font-clr);
  cursor: default;
}

body {
  background-color: var(--main-bg-clr);
}

::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-bg-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--alt-bg-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-clr);
}

/* </default styles> */
